.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  width: 100%;
  background-color: rgba($white-color, 0.8);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
  }

  &__nav {
    ul {
      display: flex;
    }

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 10px 0;

    &__logo {
      img {
        width: 160px;
      }
    }

    &__nav {
      ul {
        display: block;
      }

      li {
        margin-right: 0;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        display: block;
        padding: 12px 0;
        font-size: 20px;
      }
    }
  }
}