.hero {
  padding: 500px 0 30px;

  &__content {
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
    border-radius: 10px;
    padding: 60px 30px;
    width: 100%;
    max-width: 730px;
    text-align: center;
    color: $white-color;
    background-color: $accent-color;

    &::before {
      content: "";
      position: absolute;
      left: -190px;
      bottom: 97%;
      width: 705px;
      height: 330px;
      background: url("../img/hero-1.png") center / cover no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      right: -211px;
      top: 50%;
      width: 487px;
      height: 322px;
      background: url("../img/hero-2.png") center / cover no-repeat;
      transform: translateY(-50%);
    }

    p {
      position: relative;
      z-index: 2;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
    line-height: 1;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 400px;

    &__content {
      margin-bottom: 40px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 350px;

    &__title {
      margin-bottom: 10px;
    }

    &__content {
      &::before {
        left: -10px;
        bottom: 122%;
        width: 365px;
        height: 170px;
      }

      &::after {
        right: 0;
        top: auto;
        bottom: 27%;
        width: 200px;
        height: 192px;
        background-image: url("../img/hero-2-mobile.png");
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .hero {
    padding-top: 220px;

    &__content {
      padding: 37px 15px;

      &::before {
        left: -10px;
        bottom: 170px;
        width: 230px;
        height: 108px;
      }

      &::after {
        bottom: 50px;
        width: 125px;
        height: 122px;
      }
    }
  }
}