<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__img">
        <picture>
          <source srcset="img/footer.webp 1x, img/footer@2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/footer.png" srcset="img/footer.png 1x, img/footer@2x.png 2x" width="210"
            height="210" alt="footer">
        </picture>
      </div>
      @include('nav.html', { classes: 'footer__nav' })
      <a class="footer__link" href="https://qom.cards/" target="_blank">qom.cards</a>
      @include('socials.html')
    </div>
  </div>
</footer>