<section class="images" id="images" data-section>
	<div class="container">
		<div class="images__inner">
			<h3 class="images__title title">Images</h3>
			<div class="images__slider swiper">
				<div class="swiper-wrapper">
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-1.webp" type="image/webp">
							<source srcset="img/slider-1.jpg" type="image/jpeg">
							<img src="img/slider-1.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-2.webp" type="image/webp">
							<source srcset="img/slider-2.jpg" type="image/jpeg">
							<img src="img/slider-2.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-3.webp" type="image/webp">
							<source srcset="img/slider-3.jpg" type="image/jpeg">
							<img src="img/slider-3.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-4.webp" type="image/webp">
							<source srcset="img/slider-4.jpg" type="image/jpeg">
							<img src="img/slider-4.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-5.webp" type="image/webp">
							<source srcset="img/slider-5.jpg" type="image/jpeg">
							<img src="img/slider-5.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-6.webp" type="image/webp">
							<source srcset="img/slider-6.jpg" type="image/jpeg">
							<img src="img/slider-6.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-7.webp" type="image/webp">
							<source srcset="img/slider-7.jpg" type="image/jpeg">
							<img src="img/slider-7.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
					<div class="images__item swiper-slide">
						<picture>
							<source srcset="img/slider-8.webp" type="image/webp">
							<source srcset="img/slider-8.jpg" type="image/jpeg">
							<img src="img/slider-8.jpg" width="280" height="280" alt="">
						</picture>
						<div class="images__pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>