<section class="info" id="info" data-section>
	<div class="container">
		<div class="info__inner">
			<h3 class="info__title subtitle">Technical information</h3>
			<p>Following Ryoshi’s vision. You are the team. You are the developer. This community-driven project has
				depended. Following Ryoshi’s vision. You are the team.
				You are the developer. This community-driven project has depended.Following Ryoshi’s vision. You are the team.
				You are the developer. This community-driven project has depended.Following Ryoshi’s vision. You are the team.
				You are the developer. This community-driven project has depended.Following Ryoshi’s vision. You are the team.
				You are the developer. This community-driven project has depended</p>
			<div class="info__img">
				<picture>
					<source srcset="img/info.webp 1x, img/info@2x.webp 2x" type="image/webp">
					<img loading="lazy" src="img/info.png" srcset="img/info.png 1x, img/info@2x.png 2x" width="593" height="521"
						alt="">
				</picture>
			</div>
		</div>
	</div>
</section>