<ul class="socials">
  <li><a href="https://www.dextools.io/app/en/ether/pair-explorer/0x8ef79d6c328c25da633559c20c75f638a4863462"
      target="_blank"><img src="img/dextools-icon.svg" width="35" height="40" alt="dextools icon" target="_blank"></a>
  </li>
  <li><a href="https://discord.gg/7uMEYPWXUS" target="_blank"><img src="img/discord-icon.svg" width="40" height="40"
        alt="discord icon"></a></li>
  <li><a href="https://t.me/JoinQOMshibapredator" target="_blank"><img src="img/telegram-icon.svg" width="40"
        height="40" alt="telegram icon"></a></li>
  <li><a href="https://twitter.com/QOMARMY1?s=09" target="_blank"><img src="img/twitter-2-icon.svg" width="40"
        height="40" alt="twitter icon" target="_blank"></a></li>
  <li><a href="https://twitter.com/ShibaPredator1" target="_blank"><img src="img/twitter-icon.svg" width="40"
        height="40" alt="twitter icon" target="_blank"></a></li>
  <li><a href="https://www.reddit.com/r/qomtheshibapredator/" target="_blank"><img src="img/reddit-icon.svg" width="40"
        height="40" alt="reddit icon" target="_blank"></a></li>
  <li><a href="https://medium.com/@kodaibigbear/introducing-qom-the-shiba-predator-fe0bc1e8088b" target="_blank"><img
        src="img/medium-icon.svg" width="40" height="40" alt="medium icon" target="_blank"></a></li>
  <li><a href="https://instagram.com/qomshibapredator?igshid=YmMyMTA2M2Y=" target="_blank"><img src="img/insta-icon.svg"
        width="40" height="40" alt="instagram icon"></a>
  <li><a href="https://coinmarketcap.com/currencies/shiba-predator/markets/" target="_blank"><img src="img/m-icon.svg"
        width="40" height="40" alt="m icon"></a></li>
  <li><a href="https://www.coingecko.com/en/coins/shiba-predator" target="_blank"><img src="img/gecko-icon.png"
        width="40" height="40" alt="gecko icon"></a></li>
  <li><a href="https://etherscan.io/token/0xa71d0588eaf47f12b13cf8ec750430d21df04974" target="_blank"><img
        src="img/socials-5-icon.svg" width="40" height="40" alt="socials icon"></a></li>

  </li>
</ul>